#{extends 'main.html' /} #{set title:'Public Blogs' /}

<nav class="ui inverted teal menu" style="border:2px double silver">
		<a class="ui item" href="/index"><i class="home icon"></i>WitPress</a>
		<a class="ui item" href="/blogpost"><i class="comment icon"></i>Post Blog</a>
		<a class="ui active item" href="/publicblog"><i class="comments icon"></i>Public Blogs</a>
		<a class="ui item" href="/signup"><i class="edit icon"></i>Sign-Up</a> 
		<a class="ui item" href="/login"><i class="sign in icon"></i>Log-In</a>
		<a class="ui item" href="/login"><i class="log out icon"></i>Logout</a>
</nav>
<section class="ui center aligned segment">
<div class="ui three column grid segment" style="width:75%">
  <div class="ui column">
  <div class="ui blue segment">Bloggers</div>
  </div>
  <div class="ui column">
  <div class="ui blue segment">Blogs</div>
  </div>
  <div class="ui column">
  <div class="ui blue segment">Posted at</div>
  </div> 
</div>
<div class="ui three column grid segment" style="width:75%">

#{list items: publicBlogs, as:'post'}
<div class="ui column" style="border:1px solid silver" style="width:33%">
  ${post.key.firstName}'s Blogs...
</div>
<div class="ui column" style="border:1px solid silver" style="width:33%">
  #{list items:post.value, as:'p'}
  <p><a href="@{BlogPost.blog(p.id)}">${p.title}</a></p>
   #{/list}
</div>
<div class="ui column" style="border:1px solid silver" style="width:33%">
  #{list items:post.value, as:'p'}
  <p>${p.date}</p>
  #{/list}
</div>   
#{/list}
</div>
</section>