#{extends 'main.html' /} #{set title:'WitPress' /}

<nav class="ui inverted teal menu" style="border:2px double silver">
		<a class="ui active item" href="/index"><i class="home icon"></i>WitPress</a>
		<a class="ui item" href="/blogpost"><i class="comment icon"></i>Post Blog</a>
		<a class="ui item" href="/publicblog"><i class="comments icon"></i>Public Blogs</a>
		<a class="ui item" href="/signup"><i class="edit icon"></i>Sign-Up</a> 
		<a class="ui item" href="/login"><i class="sign in icon"></i>Log-In</a>
		<a class="ui item" href="/login"><i class="log out icon"></i>Logout</a>
</nav>

<section class="ui two column grid">
  <div class="ui column">
  <div class="ui inverted teal grid">
      <div class="fifteen wide column">
        <div class="ui raised segment">
        <h1>Welcome to WitPress</h1>
    
  
        <h3>Your site for uncensored waffle and tripe!</h3>
    
    
        <p>
          New to the site? Get reading some of the crap others have written under the Public Blogs tab.
        </p>
        <p>
          Simply reading rubbish, not enough of a thrill for you?
        </p>
        <p>
          The world of the keyboard warrior is just a few details away...
        </p>
        <p>
          Get your voice heard, sign up right <a  href="/signup">here</a> today!
        </p>
        <p>
          Already a member? Sign in <a  href="/login">here</a>.
        </p>
        <p>
          We hope you enjoy spouting on about whatever stupid little things grind your gears.
        </p>
        <p>
          Enjoy!!!
        </p>
      </div>
     </div>
    </div>
  </div>
  <div class="ui column">
  <img width="100%" src="/public/images/free.png" >
  </div>
  </section>