#{extends 'main.html' /} #{set title:'Post' /}

<nav class="ui inverted teal menu" style="border:2px double silver">
        <a class="ui item" href="/"><i class="home icon"></i>WitPress</a>
        <a class="ui item" href="/blogpost"><i class="comment icon"></i>Post Blog</a>
        <a class="ui item" href="/publicblog"><i class="comments icon"></i>Public Blogs</a>
		<a class="ui item" href="/signup"><i class="edit icon"></i>Sign-Up</a> 
		<a class="ui item" href="/login"><i class="sign in icon"></i>Log-In</a>
		<a class="ui item" href="/login"><i class="log out icon"></i>Logout</a>
</nav>

<section class="ui blue segment" style="width:100%">
  <div class="ui header" align="center">Posted by ${post.from.firstName}</div>
</section>


<div class="ui column" style="width:50%">
  <div class="ui header">Title</div>
  <div class="ui compact segment" style="word-break:break-all">
      ${post.title}
  </div>
  <div class="ui header">Content</div>
  <div class="ui compact segment" style="word-break:break-all">
      ${post.content}
  </div>
</div>

<div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
  <div class="comment">
  #{list items:postComments, as: 'com'}
  <div class="ui two column grid" >
    <div class="ui column" style="width:80%">
    <div class="content">
      <div class="author">${com.from.firstName}</div>
      <div class="metadata">
        <span class="date">${com.date}</span>
      </div>
      <div class="text">
        ${com.content}
      </div>
    </div>
    </div>
    #{if user == post.from}
    <div class="ui column" style="width:20%">
     <form class="ui form " action="/deleteComment" method="POST" >
       <input name="comid" value="${com.id}" hidden>
       <input name="postid" value="${post.id}" hidden>
       <button type="submit" class="ui inverted red small button"><i class="delete icon"></i>Remove</button>
     </form>
    </div>
    #{/if}
  </div>
  #{/list}
  </div>
</div>
#{if user != null}
<div class="ui section" style="width:38%" >
<form class="ui form" action="/postComment" method="POST">
  <input name="postid" value="${post.id}" hidden>
  <textarea name="content" placeholder="Enter your comment..."></textarea>
  <p></p>
  <button type="submit" class="ui teal submit button"><i class="add icon"></i>Post comment</button>
  <section class="ui error message"></section>
</form>
</div>
#{/if}
#{else}
<section class="ui compact segment">
Get Commenting? Sign up <a class="ui item" href="/signup">here</a>.
</section>
#{/else}

<script src="@{'/public/javascripts/comment.js'}"></script>






