#{extends 'main.html' /} #{set title:'Post Blog' /}


<nav class="ui inverted teal menu" style="border:2px double silver">
        <a class="ui item" href="/"><i class="home icon"></i>WitPress</a>
        <a class="ui active item" href="/blogpost"><i class="comment icon"></i>Post Blog</a>
        <a class="ui item" href="/publicblog"><i class="comments icon"></i>Public Blogs</a>
		<a class="ui item" href="/signup"><i class="edit icon"></i>Sign-Up</a> 
		<a class="ui item" href="/login"><i class="sign in icon"></i>Log-In</a>
		<a class="ui item" href="/login"><i class="log out icon"></i>Logout</a>
</nav>
<section class="ui two column grid">
  <section class="ui ten wide column">
    <section class="ui segment">
	  <form class="ui form segment" action="/postBlog" method="POST">
        <div class="field">
          <label>Title</label>
	      <input name="title" type="text" style="border:1px solid black">
        </div>
        <div class="field">
          <label>Post</label>
	      <textarea name="content" style="border:1px solid black"></textarea>
        </div>
        <button type="submit" class="ui teal submit button"><i class="add icon"></i>Submit Post</button>
        <div class="ui error message"></div>
      </form>   
    </section>
  </section>
  <section class="ui six wide column">
  #{if yourPosts.size() > 0}
    <table class="ui table segment">
      <thead>
        <tr>
          <th style="width:80%">Post</th>
          <th style="width:20%">Delete</th>
        </tr>
      </thead>
      <tbody>
      #{list items:yourPosts, as:'p'}
        <tr>
          <td style="word-break:break-all"><a href="@{BlogPost.blog(p.id)}">${p.title}</a></td>
          <td><a href="@{BlogPost.deletePost(p.id)}"><button type="submit" class="ui inverted red small button"><i class="delete icon"></i>Remove</button></td>
        </tr>
      #{/list}
      </tbody>
    </table>
    #{/if}
   </section>

<script src="@{'/public/javascripts/post.js'}"></script>

