#{extends 'main.html' /} #{set title:'Login' /}


<nav class="ui inverted teal menu" style="border:2px double silver">
        <a class="ui item" href="/"><i class="home icon"></i>WitPress</a>
        <a class="ui item" href="/blogpost"><i class="comment icon"></i>Post Blog</a>
        <a class="ui item" href="/publicblog"><i class="comments icon"></i>Public Blogs</a>
		<a class="ui item" href="/signup"><i class="edit icon"></i>Sign-Up</a> 
		<a class="ui active item" href="/login"><i class="sign in icon"></i>Log-In</a>
		<a class="ui item" href="/login"><i class="log out icon"></i>Logout</a>
</nav>
<section class="ui inverted green segment" style="width:25%; font-size:20px;">
	<div class="ui item"><a href="/signup">Get Started - sign up here</a></div>
</section>
<section class="ui form segment">
  <h4>If already registered log in and begin publishing</h4>
	<form action="/authenticate" method="POST">
		<div class="field" style="width:25%">
			<label> Username: </label> <input type="text" name="email"  style="border:1px solid black">
		</div>
		<div class="field" style="width:25%">
			<label> Password: </label> <input type="password" name="password"  style="border:1px solid black">
		</div>
		<button class="ui teal submit button">Login</button>
	</form>
</section>