#{extends 'main.html' /} #{set title:'Sign Up' /}
    
<nav class="ui inverted teal menu" style="border:2px double silver">
		<a class="ui item" href="/"><i class="home icon"></i>WitPress</a>
		<a class="ui item" href="/blogpost"><i class="comment icon"></i>Post Blog</a>
		<a class="ui item" href="/publicblog"><i class="comments icon"></i>Public Blogs</a>
		<a class="ui active item" href="/signup"><i class="edit icon"></i>Sign-Up</a> 
		<a class="ui item" href="/login"><i class="sign in icon"></i>Log-In</a>
		<a class="ui item" href="/login"><i class="log out icon"></i>Logout</a>
</nav>

<section class="ui segment">
    
	<form class="ui form" action="/register" method="POST" onsubmit="return ischecked();" >
	  
			<div class="ui two column grid">
			  <div class="ui column">
			      <h1 class="ui green section">Sign Up</h1>
			      <h3>Register using a valid email address</h3>
			      <div class="two fields">
			        <div class="field">
			          <label>First Name</label>
			          <input placeholder="First Name" id="firstName" name ="firstName" type="text"  style="border:1px solid black">
			        </div>
			        <div class="field">
			          <label>Last Name</label>
			          <input placeholder="Last Name" id="lastName" name ="lastName" type="text"  style="border:1px solid black">
			        </div>
			      </div>
			      <div class="field">
			          <label>Email</label>
			          <input placeholder="Email" id="email" name ="email" type="text"  style="border:1px solid black">
			      </div>
			      <div class="field">
			          <label>Password</label>
			          <input placeholder="Password" type="password" id="password" name ="password"  style="border:1px solid black">
			      </div>
			      <div class="inline field">
			        <div class="ui checkbox">
			          <input id="conditions" type ="checkbox" name="conditions" >
			          <label for="conditions">
			          "I agree to the terms and conditions"
			          </label>
			      </div>  
			    </div>
				<button type="submit" class="ui teal submit button" >Submit</button>
				<div class="ui error message"></div>
			  </div>
			</div>
		  
		</form>
      </section>
      <script src="@{'/public/javascripts/conditions.js'}"></script>
    